.hero {
  background: url('C11528.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: var(--primary-color);
  overflow-x: hidden;
  padding: 0 40px;

  .explore-more {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
  }
}
