{% extends "juice/templates/index.html" %}

{% block hero %}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <section class="text-center">
        <h1 class="heading-text" style="font-size: 50px">
            The 10th OpenMolcas Developers' Workshop
        </h1>
        <h3 class="title-text">
            <b>Uppsala</b> 8-10 June 2022.
        </h3>
    </section>
    <img class="here-image" type="image/png" src="{{ get_url(path="logo.png") }}">

    <div class="explore-more text"
        onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
        Explore More ⇩
    </div>
    <style>
        .hero section {
            padding: 0 5rem;
        }
        @media screen and (max-width: 768px) {
            .hero section {
                padding: 0 2rem;
            }

            .hero-image {
                display: none
            }
        }
    </style> 
{% endblock hero %}

{% block favicon %}
    <link rel="icon" href="/favicon.ico">
{% endblock favicon %}
