{% extends "base.html" %}

{% block hero %}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <section class="text-center">
        <div class="heading-text" style="font-size: 60px">
            The 10th OpenMolcas Developers' Workshop
        </div>
        <div class="where-text" style="font-size: 30px">
            <b>Uppsala</b> 8-10 June 2022
        </div>

        <div class="where-text" style="font-size: 20px">
            <p style="margin-bottom: 0em; font-size: 22px">Invited speakers</p>
	    <p style="margin-bottom: 0em">Nanna H. List - KTH</p> 
	    <p style="font-style: italic; margin-top: 0em; margin-bottom: 0em; font-size: 18px">
	    New insight into an old chromophore: In and out of the S0/S1 intersection seam of HBDI-
	    </p> 
	    <p style="margin-top: 15px; margin-bottom: 0em">Anthony Scemama - CNRS/TREX</p>
	    <p style="font-style: italic; margin-top: 0em; margin-bottom: 0em; font-size: 18px">
	    The TREXIO file format and library
	    </p> 
	    <p style="margin-top: 15px; margin-bottom: 0em">Daniel Opalka - EuroHPC Joint Undertaking</p>
	    <p style="font-style: italic; margin-top: 0em; margin-bottom: 0em; font-size: 18px">
	    TBA
	    </p> 
	    <p style="margin-top: 15px; margin-bottom: 0em">Pierre-François Loos & Martial Boggio-Pasqua - CNRS/Université Toulouse III</p> 
	    <p style="font-style: italic; margin-top: 0em; margin-bottom: 0em; font-size: 18px">
	    Benchmarking multiconfigurational methods for vertical excitation energies
	    </p> 
	    <p style="margin-top: 15px; margin-bottom: 0em">George Booth - King's College London</p>
	    <p style="font-style: italic; margin-top: 0em; margin-bottom: 0em; font-size: 18px">
	    Construction of local active spaces for fragmented large systems
	    </p> 
	    <p style="margin-top: 15px; margin-bottom: 0em">Federica Agostini - University Paris-Saclay</p>
	    <p style="font-style: italic; margin-top: 0em; margin-bottom: 0em; font-size: 18px">
	    Theory and simulation of ultrafast processes in molecules
	    </p> 
        </div>
    </section>

    <img class="hero-image" width="30%" type="image/png" src="{{ get_url(path=config.extra.juice_logo_path) }}">

    <div class="explore-more text"
        onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
	    <b>Explore More ⇩</b>
    </div>
    <style>
        .hero section {
            padding: 0 5rem;
        }
        @media screen and (max-width: 768px) {
            .hero section {
		padding-top: 30rem;
		padding-bottom: 0rem;
		padding-right: 2rem;
		padding-left: 2rem;
            }

            .hero-image {
                display: none
            }
        }
    </style> 
{% endblock hero %}
